.payments
  %p
    %button.btn.btn-primary{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample", :role => "button"}
      = I18n.t('payment_request')
  #collapseExample.collapse
    .card.card-body.payment-request
      .payment-notes
        = @article.notes
        .payments-buttons
          = render 'payment_options'
