<!-- Set up a container element for the button -->
<div id="paypal-button-container"></div>

<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=<%= Figaro.env.paypal_id %>&currency=EUR"></script>

<script>
  // Render the PayPal button into #paypal-button-container
  paypal.Buttons({
    createOrder: function(data, actions) {
      // This function sets up the details of the transaction, including the amount and line item details.
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: window.gamount
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      // This function captures the funds from the transaction.
      return actions.order.capture().then(function(details) {
        // This function shows a transaction success message to your buyer.
        // alert('Transaction completed by ' + details.payer.name.given_name);
        var modal = $('#exampleModal')
        modal.find('.modal-title').text('Thank you, ' + details.payer.name.given_name)
        modal.find('.modal-body').text('')
      });
    }
  }).render('#paypal-button-container');
</script>
