.article-container
  - @articles.each do |art|
    .article-item
      %h1.text-center= art.title
      .row
        .col-md-4.col-sm-6.col-xs-12.art-image
          =image_tag attachment_url(art, :article_image, :fill, 300, 300)
        -# .col-md-8.col-sm-6.col-xs-12.art-content
          -# %p= art.content.html_safe
