.container
  = render 'layouts/current_tag'
  = render 'layouts/mainbanner'
  .artshow
    - @articles.first(15).each.with_index(1) do |article, i|
      = render partial: 'item', object: article, locals: { index: i }, id: artitem_id(i)
  %hr
  =render 'layouts/feed_ad_block'
  = will_paginate @articles, page_links: false,
    previous_label: '<- Previous', next_label: 'Next ->',
    renderer: WillPaginate::ActionView::BootstrapLinkRenderer
