.container
  = render 'layouts/current_tag'
  = render 'layouts/mainbanner'
  .artshow
    - @articles.first(15).each.with_index(1) do |article, i|
      = render partial: 'item', object: article, locals: { index: i }, id: artitem_id(i)
