.head-banner
  = render 'layouts/mainbanner'
.article-container
  - @articles.each do |art|
    .article-item
      %h2
        = link_to art.title, art
    .row
      .col-md-11.col-sm-12.col-xs-12.art-image
        = link_to art do
          =image_tag attachment_url(art, :article_image, :fill, 620, 370), class: "img-responsive"
