.article-container
  - @articles.each do |art|
    .article-item
      -# %h2
        = link_to art.title, art
    .row
      .col-lg-8.col-md-9.col-xs-12.art-image
        = link_to art do
          = image_tag attachment_url(art, :article_image, :fill, 860, 370), class: "img-responsive"
          .article-title.text-center
            %h1
              %span= art.title
        -# %span
        -#   = "Text".html_safe
        -#   = image_tag attachment_url(art, :article_image, :fill, 620,370) , class: "img-responsive"
        -#   = "Text".html_safe
