.article-container
  - @articles.each do |art|
    .article-item
      %h2
        = link_to art.title, art
    - unless admin_signed_in?
      .row
        .col-md-11.col-sm-12.col-xs-12.art-image
          = link_to art do
            =image_tag attachment_url(art, :article_image, :fill, 620, 370)
        -# .col-md-8.col-sm-6.col-xs-12.art-content
          -# %p= art.content.html_safe
