<% if @articles.any? %>
  $("#search_results").html("<%= escape_javascript(render @articles) %>");
<% else %>
  $("#search_results").html("<p>Oh dear. Your search matched nothing in the database</p>");
<% end %>
