.navbar-brand {
  color: #00283D;
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  text-shadow: 1px 1px 1px #007dbf;
  &:hover {
    color: #007dbf;
    text-shadow: 1px 1px 2px #00283d;
  }

  // @media only screen and (max-width : 420px) {
  // font-size: 1rem;
  // }
  //
  // @media (min-width: 768px){
  // }
}
/* .navbar-default { */
/*   background-color: rgba(255,255,255,0.95); */
/*   border: 0px; */
/*   @include box-shadow(0px 1px 5px rgba(190, 190, 190, 0.46)); */
/* } */
/* .navbar-default .navbar-nav>li>a { */
/*   color: #777; */
/*   font-size: 12px; */
/*   font-weight: 600; */
/*   text-transform: uppercase; */
/*   font-family: $title-font; */
/* } */
/* .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{ */
/*   background-color: transparent; */
/*   color:$skincolor; */
/* } */
/* .dropdown-menu{ */
/*   background-color: rgba(255,255,255,0.95); */
/*   @include border-radius(0px); */
/*   padding: 0px; */
/*   min-width: 190px; */
/*   border: 0px; */
/*   >li>a{ */
/*     color:#777; */
/*     padding: 7px 20px; */
/*     font-weight:300; */
/*     border-bottom:1px solid #f5f5f5; */
/*     &:hover{ */
/*       color:$skincolor; */
/*       background-color: #f5f5f5; */
/*     } */
/*   } */
/* } */

/**side panel**/
.navmenu-default, .navbar-default .navbar-offcanvas{
  background-color: #fff;
}
.side-panel-inner{
  padding: 30px 20px;
  .form-control{
    @include box-shadow(none);
    @include border-radius(0px);
    min-height: 45px;
    border: 2px solid #f5f5f5;
    &:hover,&:focus{
      border-color: $skincolor;
    }
  }
}
.navbar-right{
  .search-widget{
    .form-control{
      border: 1px solid #ddd;
      height:30px;
      &:focus{
        border-color: $skincolor;
      }
    }
    button{
      top: 3px;
      right: 5px;
    }
  }
}
