@import url(https://fonts.googleapis.com/css?family=Raleway:600,700,800,500);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700);
$body-bg:#fff;
$base-line-height:24px;
$violet: rgba(4, 0, 182, 0.9);
// $skincolor:#C69F73;
$skincolor:#2e6479;
$title-font: 'Open Sans', sans-serif;
$p-font: 'Arimo', sans-serif;
$alert-color:red;

$white_opaque: rgba(250, 250, 250, .3);
$dark: #1F7972;
$bblue: #3eb2d8;
$ochra: #d4b98c;
$darksea: #104a78;
$thblue: #3498db;
$ftrblue: #445d95;
$bg: #f6f6f6;
$content: #393f42;
$copy: #727678;
$accent: #50bbf2;
$secondary: #cedce4;
