= form_for @tag, :html => {role: 'form'} do |f|
  -# = render 'layouts/error_messages', object: f.object
  .form-group
    = f.label :name, "Name"
    = f.text_field :name, autofocus: true, class: 'form-control'
  .form-group
    = f.submit "Submit", class: 'btn btn-primary'
