body {
  background: $bg;
  padding-top: 60px;
}
.brand-logo {
  @media only screen and (max-width : 420px) {
    width: 78px;
    height: 62px;
  }
  @media only screen and (min-width : 420px) {
    width: 107px;
    height: 84px;
  }
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background: url(image-path('sedmodnev.png')) no-repeat ;
  background-size: contain;
  float: left;
  overflow: hidden;
}

.img-form {
  border: dotted lightblue 2px;
}
.sides {
  margin-left: 5px;
}

.logobox {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
}

.sign-upper {
  float: left;
  overflow: hidden;
  height: 20px;
  // margin-top: 30px;
  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 320px) {
    margin-top: -5px;
    width: calc(vw - 115px);
  }
  @media only screen and (max-width : 420px) {
    margin-top: 24px;
    width: calc(vw - 112px);
  }
  @media only screen and (min-width : 420px) {
    margin-top: 37px;
    width: 100px;
  }
  //  border: dotted red 1px;
}
.linesign {
  float: left;
  overflow: hidden;
  height: 20px;
  border-top: solid black 1px;
  text-align: left;
  @media only screen and (max-width : 420px) {
    width: calc("vw - 110px");
  }
  @media only screen and (min-width : 420px) {
    width: 200px;
  }
}

.logo-sign {
  color: black;
  font-family: "Didact Gothic", serif;
  // color: #3498db;
  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 420px) {
    line-height: 14px;
    padding-left: 4px;
  }
  @media only screen and (min-width : 420px) {
    line-height: 20px;
    padding-left: 6px;
  }
}

.banner-intro {
  background-color: transparent;
  width: 100%;
  // height: 100%;
  min-height: 90vh;
  position: relative;
  display: table;
}
.banner-slider {
  background: url(asset-path('nrep.jpg')) no-repeat center center scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.banner-intro .banner-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  opacity: 1;
}

.banner-products ul {
  background: rgba(0, 0, 0, 0.3);
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  @media only screen and (min-width : 750px) {
    margin-bottom: 0;
  }
  @media only screen and (max-width : 750px) {
    min-height: 88vh;
    padding-top: 41px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.banner-products.upper {
  margin-top: 14px;
  // border-top: dotted $darksea 1px;
  // background: rgba(0,0,0, 0.2);
  // background: black;
  // opacity: 0.6;
}

.banner-products li {
  display: flex;
  // border: solid 5px rgba(128,128,128, 0.1);
  border: solid blue 2px;
  height: 70px;
  // flex-basis: 200px;
  flex: 1;
  text-align: center;
  align-items: center;

}

.banner-products {
  display: flex;
  a {
    font-family: 'Didact Gothic', Georgia, serif;
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
  }
  @media only screen and (max-width : 850px) {
    flex-direction: column;
  }
  margin-top: 50px;
  margin-bottom: 20px;
}

.banner-products span {
  display: block;
  width: 100%;
}

.item-products {
  display: flex;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  height: 50px;
  border-bottom: solid 1px white;
  align-items: center;
  justify-content: center;
  h4 {
    font-family: 'Didact Gothic', Georgia, serif;
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
  }
}

.tg-inner {
  padding: 3px;
  border: solid 5px rgba(128,128,128, 0.2);
}

.tags {
  display: flex;
  flex: 1;
}

.map {
  min-width: 300px;
  min-height: 300px;
  width: 100%;
  height: 100%;
}

.header-map {
  background-color: #F5F5F5;
  color: #36A0FF;
  height: 70px;
  font-size: 27px;
  padding: 10px;
}

.brands {
  border: solid 5px rgba(128, 128, 128, 0.3);
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  padding-top: 20px;
}

.brand-item {
  margin: 8px;
}

.brand-item img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.brand-item img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.intro {
  display: block;
  // background: url(asset-path('nrep.jpg')) no-repeat center center scroll;
  border: solid 3px red;
  background-color: $bblue;
  // background-size: cover;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
}

.artshow {
  @media only screen and ( min-width : 660px ) {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flxebox;
  display: -webkit-flex;
  justify-content: center;
  margin: 18px;
  }
}

.art-wrap {
  @media only screen and (min-width : 750px) {
    max-width: 700px;
  }
}

.art-content {
  font-family: "Roboto Slab";
  font-weight: 400;
  letter-spacing: -.003em;
  color: rgba(0,0,0,.8);

  @media only screen and (min-width : 420px) {
  font-size: 19px;
  line-height: 1.58;
  }

  @media only screen and (max-width : 420px) {
    font-size: 18px;
    line-height: 1.35;
    padding-right: 10px;
  }
}


.attachment.attachment-preview img {
  min-height: 600px;
  // max-width: 100%;
}


.art-image {
  margin-top: 20px;
  position: relative;
}

.art-image .article-title {
  position: absolute;
  padding-left: 10px;
  padding-right: 5px;
  z-index: 10;
  bottom: 0;
  left: 0;
  display: inline-block;
  overflow-y: hidden;
  float: left;
  h1 {
    font-family: 'Playfayr Display';
    background-color: rgba(#424b5f ,0.8);
    color: white;
    @media only screen and ( max-width: 400px) {
      font-size: 1.5em;
    }
    @media only screen and ( min-width: 400px) and (max-width: 640px) {
      font-size: 1.8em;
    }
    @media only screen and (min-width: 640px) {
      font-size: 2.0em;
    }
    // line-height: 2.0em;
    line-height: normal;
    display: inline;
    span {
      // padding: 0.2em;
      box-shadow: 0.3em 0 0 rgba(#424b5f, 0.8), -0.3em 0 0 rgba(#424b5f, 0.7);
    }
  }
}

trix-editor .attachment .remove {
  display: table !important;
  position: relative !important;
  margin: 0 auto !important;
  font-size: 12px !important;
  width: auto !important;
  padding: 0px 10px !important;
  height: 24px !important;
  top: 0px !important;
  right: 0px !important;
}

.attachment .caption {
    display: block;
    margin: 4px auto 0 auto;
    padding: 0;
    text-align: center;
}

.mainbanner {
  max-width: 70% ;
  height: 120px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.mainbanner17 {
  max-width: 70% ;
  height: 200px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.banner-side {
  max-height: 30%;
}
