body {
  background: $bg;
  padding-top: 60px;
}

.brand-logo {
  @media only screen and (max-width : 420px) {
    width: 78px;
    height: 62px;
  }
  @media only screen and (min-width : 420px) {
    width: 107px;
    height: 84px;
  }
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background: url(image-path('pen-logo-blue.png')) no-repeat ;
  background-size: contain;
  float: left;
  overflow: hidden;
}

.img-form {
  border: dotted lightblue 2px;
}
.sides {
  margin-left: 5px;
}

.logobox {
  display: flex;
  flex-direction: column;
}

.sign-upper {
  float: left;
  overflow: hidden;
  height: 20px;
  // margin-top: 30px;
  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 320px) {
    margin-top: -5px;
    width: calc(vw - 115px);
  }
  @media only screen and (max-width : 420px) {
    margin-top: 24px;
    width: calc(vw - 112px);
  }
  @media only screen and (min-width : 420px) {
    margin-top: 37px;
    width: 100px;
  }
  //  border: dotted red 1px;
}
.linesign {
  float: left;
  overflow: hidden;
  height: 20px;
  border-top: solid black 1px;
  text-align: left;
  @media only screen and (max-width : 420px) {
    width: calc("vw - 110px");
  }
  @media only screen and (min-width : 420px) {
    width: 200px;
  }
}

.logo-sign {
  color: black;
  font-family: "Didact Gothic", serif;
  // color: #3498db;
  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 420px) {
    line-height: 14px;
    padding-left: 4px;
  }
  @media only screen and (min-width : 420px) {
    line-height: 20px;
    padding-left: 6px;
  }
}

.banner-intro {
  background-color: transparent;
  width: 100%;
  // height: 100%;
  min-height: 90vh;
  position: relative;
  display: table;
}
.banner-slider {
  background: url(asset-path('nrep.jpg')) no-repeat center center scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.banner-intro .banner-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  opacity: 1;
}

.banner-products ul {
  background: rgba(0, 0, 0, 0.3);
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  @media only screen and (min-width : 750px) {
    margin-bottom: 0;
  }
  @media only screen and (max-width : 750px) {
    min-height: 88vh;
    padding-top: 41px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.banner-products.upper {
  margin-top: 14px;
  // border-top: dotted $darksea 1px;
  // background: rgba(0,0,0, 0.2);
  // background: black;
  // opacity: 0.6;
}

.banner-products li {
  display: flex;
  // border: solid 5px rgba(128,128,128, 0.1);
  border: solid blue 2px;
  height: 70px;
  // flex-basis: 200px;
  flex: 1;
  text-align: center;
  align-items: center;

}

.banner-products {
  display: flex;
  a {
    font-family: 'Didact Gothic', Georgia, serif;
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
  }
  @media only screen and (max-width : 850px) {
    flex-direction: column;
  }
  margin-top: 50px;
  margin-bottom: 20px;
}

.banner-products span {
  display: block;
  width: 100%;
}

.item-products {
  display: flex;
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  height: 50px;
  border-bottom: solid 1px white;
  align-items: center;
  justify-content: center;
  h4 {
    font-family: 'Didact Gothic', Georgia, serif;
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
  }
}
//
.tg-inner {
  padding: 3px;
  border: solid 5px rgba(128,128,128, 0.2);
}

.tags {
  display: flex;
  flex: 1;
}

.map {
  min-width: 300px;
  min-height: 300px;
  width: 100%;
  height: 100%;
}

.header-map {
  background-color: #F5F5F5;
  color: #36A0FF;
  height: 70px;
  font-size: 27px;
  padding: 10px;
}

.brands {
  border: solid 5px rgba(128, 128, 128, 0.3);
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  padding-top: 20px;
}

.brand-item {
  margin: 8px;
}

.brand-item img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.brand-item img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.intro {
  display: block;
  border: solid 3px red;
  background-color: $bblue;
}


.art-content {
  font-family: "Roboto Slab";
  font-weight: 400;
  letter-spacing: -.003em;
  color: rgba(0,0,0,.8);

  @media only screen and (min-width : 420px) {
  font-size: 19px;
  line-height: 1.58;
  }

  @media only screen and (max-width : 420px) {
    font-size: 18px;
    line-height: 1.35;
    padding-right: 10px;
  }
}

.art-content > div:first-of-type:first-letter {
  color: black;
  font-size: 1.7em;
}

  // ::first-letter {
  //   font-size: 1.7em;
  //   color: black;
  // }


.art-image {
  margin-top: 20px;
  position: relative;
}

.art-image .article-title {
  position: absolute;
  padding-left: 10px;
  padding-right: 5px;
  z-index: 10;
  bottom: 0;
  left: 0;
  display: inline-block;
  overflow-y: hidden;
  float: left;
  h1 {
    font-family: 'Playfayr Display';
    font-weight: 400;
    background-color: rgba(#424b5f ,0.8);
    color: white;
    @media only screen and ( max-width: 400px) {
      font-size: 1.5em;
    }
    @media only screen and ( min-width: 400px) and (max-width: 640px) {
      font-size: 1.8em;
    }
    @media only screen and (min-width: 640px) {
      font-size: 2.0em;
    }
    // line-height: 2.0em;
    line-height: normal;
    display: inline;
    span {
      // padding: 0.2em;
      box-shadow: 0.3em 0 0 rgba(#424b5f, 0.8), -0.3em 0 0 rgba(#424b5f, 0.7);
    }
  }
}

trix-editor .attachment .remove {
  display: table !important;
  position: relative !important;
  margin: 0 auto !important;
  font-size: 12px !important;
  width: auto !important;
  padding: 0px 10px !important;
  height: 24px !important;
  top: 0px !important;
  right: 0px !important;
}

.attachment .caption {
    display: block;
    margin: 4px auto 0 auto;
    padding: 0;
    text-align: center;
}

.attachment.attachment-preview img {
  max-width: 100%;
  height: auto;
}

.art-content img {
  max-width: 100%;
  height: auto;
}

.mainbanner {
  max-width: 70% ;
  height: 120px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.mainbanner17 {
  max-width: 70% ;
  height: 200px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.banner-side {
  max-height: 30%;
}

.banners-top {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  @media only screen and (max-width : 900px) {
  display: none;
  }
}

.blue {
  color: #36A0FF;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px dotted rgba(0, 0, 0, 0.3);
}

.space40 {
  margin: 40px;
}

.cnt-art {
  margin: 1em;
  h2 {
  text-overflow: ellipsis;
  line-height: 20px;
  max-height: 100px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  word-break: break-word;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 1.3em;
  font-family: 'Oranienbaum', cursive;
  a {
    // color: $violet;
  }
  @media only screen and (max-width : 300px) {
    font-size: 1em;
  }
}
  h4 {
    font-family: 'Kelly Slab', cursive;
    font-size: 1em;
    color: rgba(0,0,0,0.6);
  }
}

.image-index {
  width: 400px;
  height: 300px;
}

* {box-sizing: border-box;}

.artshow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  @media only screen and (min-width : 900px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media only screen and (max-width : 600px) {
    grid-template-columns: 1fr;
    grid-gap: 11px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

// .artshow > div {
//   border: 2px solid rgb(233, 171, 88);
//   border-radius: 5px;
//   background-color: rgba(233,171,88,.5);
//   padding: 1em;
//   color: #d9480f;
// }

.index-item {
  background: white;
  border-top: solid 4px black;
  border-bottom: 1px solid #ccc;
  border-radius: 1px;
  padding: .4em;
  box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12), 1px 0 2px 0 rgba(0,0,0,0.12), 0 1px 1px 0 rgba(0,0,0,0.24);
  transform: translate3d(0, 0, 0);
  @media only screen and (max-width : 600px) {
    border-top: 1px solid #ccc;
  }
  // @media only screen and (max-width : 500px) {
  //   width: 95%;
  // }
  // @media only screen and (min-width : 900px) {
  //   width: 30%;
  // }
}

.index-item:hover {
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
  transform: translateY(-4px);
  box-shadow: -3px 0 2px 0 rgba(0,0,0,0.12), -2px 0 2px 0 rgba(0,0,0,0.12), -2px 3px 2px 0 rgba(0,0,0,0.24);
}



#a1 {
  grid-column: 1 / 4;
  grid-row: 1;
}

#a2 {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

#a3 {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

#a4 {
  // grid-column: 3;
  // grid-row: 3;
}

#a5 {
  // grid-column: 2;
  // grid-row: 4;
}

.title-intro {
  font-family: 'Kelly Slab', cursive;
  font-size: 1.2em;
}

.share-sidebar {
  @media only screen and (max-width : 600px) {
    display: none;
  }

  transition: opacity 1s cubic-bezier(0.33, 0.66, 0.33, 1);
  position: sticky;
  top: 250px;
  height: 100vh;
  box-sizing: border-box;
  margin-left: 50px;
  margin-right: 40px;
  width: 85px;
}

.title-share {
  display: flex;
  justify-content: center;
  border-top: solid 10px #000;
  font-size: 100%;
  padding: 16px 0;
  border-bottom: solid 1px #ccc;
  font-size: 45px;
  line-height: 34px;
  vertical-align: baseline;
  h2 {
    font-family: 'Oranienbaum';
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.0066em;
    margin: 0;
    padding: 0;
  }
}

.art-wrap {
  // grid-column-start: 2;
}

.flex-center {
  max-width: 85%;
}

.show-page {
  display: grid;
  justify-content: center;
  grid-template-columns: 180px 2fr 1fr;
  grid-gap: 20px;

  @media only screen and (max-width : 600px) {
    grid-template-columns: 1fr;
  }

  h1 {
    font-family: 'Oranienbaum';
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.0075em;
    transition: color 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
    word-break: break-word;
    word-wrap: break-word;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-top: 3px;
    // @media only screen and (min-width : 600px) {
      // font-size: 64px;
    font-size: 4rem;
    line-height: 3.5rem;
    margin: 0 0 3rem;
    // }
    // @media only screen and (max-width : 600px) {
    //   font-size: 45px;
    //   line-height: 38px;
    //   margin: 0 0 25px;
    // }
  }
}

.show-right-adv {
  @media only screen and (max-width : 600px) {
    display: none;
  }
  top: 115px;
  position: sticky;
  height: 80vh;
  box-sizing: border-box;
}

.share-listing {
  list-style: none;
}

.listing-fb {
  background-color:#3C599F;
  border-bottom: 1px solid #ccc;
  margin: 16px 0;
  padding-bottom: 16px;
}
