%h2= @images.count
- @images.each do |i|
  .image-index
    =image_tag attachment_url(i, :picture, :fill, 680, 360), class: "img-responsive"
  -# = link_to "Image picture_id: #{i.picture_id}", image_path(i)

