.container
  %nav.navbar.navbar-expand-xs.navbar-light.bg-light.fixed-top
    = link_to t(:brand), root_path, class: "navbar-brand mx-auto"
    %form.form-inline
      =link_to 'New Article:', new_author_article_path, class: 'btn btn-outline-success'
    %button.navbar-toggler{"aria-controls" => "navbarNavAdminMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavAdminMarkup", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNavAdminMarkup.collapse.navbar-collapse
      .navbar-nav
        = render 'layouts/redactor_nav_links'

