.container
  %nav.navbar.navbar-expand-xs.fixed-top.navbar-dark{style: "background-color: #00283d;"}
    %button.navbar-toggler.order-first.btn-default{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavAdminMarkup", "data-toggle" => "collapse", :type => "button"}
      %i.fa.fa-bars.btn-white
    = link_to t(:brand), root_path, class: "navbar-brand mx-auto"
    %form.form-inline
      =link_to 'New Article:', new_author_article_path, class: 'btn btn-outline-success'
    #navbarNavAdminMarkup.collapse.navbar-collapse
      .navbar-nav
        = render 'layouts/redactor_nav_links'

