%footer.footer
  .footer-title{itemprop:  "publisher", :itemscope => "itemscope", :itemtype => "https://schema.org/Organization"}
    %h1= link_to t(:brand), root_path, itemprop: "url"
    %ul.list-inline.social-1
      %li
        = link_to 'https://facebook.com/BurgasReporter', target: :_blank do
          %i.fa.fa-facebook
      %li
        = link_to 'https://twitter.com/BurgasReporter', target: :_blank do
          %i.fa.fa-twitter

      -# %li
      -#   = link_to 'https://linkedin.com', target: :_blank do
      -#     %i.fa.fa-linkedin

      -# %li
      -#   = link_to 'https://pinterest.com', target: :_blank do
      -#     %i.fa.fa-pinterest
      -#
      -# %li
      -#   = link_to 'https://youtube.com', target: :_blank do
      -#     %i.fa.fa-youtube
      -#
      %li
        = link_to 'https://instagram.com/BurgasReporter', target: :_blank do
          %i.fa.fa-instagram
