%li= @current_tag if @current_tag
- tags.each do |art_tag|
  %li
    = link_to art_tag.name, articles_path(tag: art_tag)
%li.btn.btn-default
  = link_to searches_path do
    %span.glyphicon.glyphicon-search
