.mainbanner
  = link_to 'https://www.facebook.com/NovaRepublika.bg' do
    = image_tag 'novarep6.jpg', { alt: 'https://www.facebook.com/NovaRepublika.bg', title: 'Нова Република България - избори 2017'}
