<!-- <button type="button" class="btn btn&#45;default"> -->
<!--  <span class="glyphicon glyphicon&#45;search"></span> -->
<!--         </button> -->
<!-- %button.btn.btn&#45;default -->
= link_to searches_path do
  %span.glyphicon.glyphicon-search.btn.btn-default
